<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/controller.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div class="overlay-container">
        <div class="overlay" id="orientation-overlay">
            <img src="/static/images/rotate-device.svg" alt="">
            <span>rotate your device!</span>
        </div>
        <div class="overlay" id="settings-overlay">
            <span>Settings</span>
        </div>
    </div>
    <main id="main">
        <div class="joy-stick-wrapper" id="joy-stick-wrapper">
            <div class="joy-stick-container" id="joy-stick-container">
                <div class="joy-stick-thumb" id="joy-stick-thumb"></div>
            </div>
        </div>

        <div class="middle-wrapper">
            <div class="mother-rectangle">
                <div class="score-text">SCORE</div>
                <div class="rectangle-container">
                    <div class="rectangle-button" id="rectangle-button-1">
                        <span class="button-text-1">0</span>
                    </div>
                    <div class="rectangle-button" id="rectangle-button-2">
                        <span class="button-text-2">0</span>
                    </div>
                </div>
            </div>
            <div class="vertical-buttons">
                <button class="middle-button" id="settings"></button>
                <button class="middle-button" id="respawn"></button>
                <button class="middle-button" id="fullscreen"></button>
            </div>
        </div>


        <div class="joy-buttons-wrapper">
            <div class="button-container">
                <button id="button-1"></button>
            </div>
            <div class="button-container">
                <button id="button-2"></button>
            </div>
            <div class="button-container">
                <button id="button-3"></button>
            </div>
        </div>
    </main>

    <script src="/static/js/common.js"></script>
    <script src="/static/js/sock.js"></script>
    <script src="/static/js/controller.js"></script>


</body>

</html>