<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/controller3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/sock.js"></script>
</head>

<body>
    <main id="main">
        <div class="joy-stick-wrapper" id="joy-stick-wrapper">
            <div class="joy-stick-container" id="joy-stick-container">
                <div class="joy-stick-thumb" id="joy-stick-thumb"></div>
            </div>
        </div>
        <div class="middle-wrapper"></div>
        <div class="joy-buttons-wrapper">
            <div class="button-container">
                <button id="button-1"></button>
            </div>
            <div class="button-container">
                <button id="button-2"></button>
            </div>
            <div class="button-container">
                <button id="button-3"></button>
            </div>
        </div>
    </main>

    <script src="/static/js/controller3.js"></script>
</body>

</html>