<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controller</title>
  <link rel="stylesheet" href="/static/css/controller2.css">
</head>
<body>

    <div class="outer-circle">
        <div class="inner-circle" id="inner-circle"></div> 
    </div>

    <div id="button-container">
        <button class="button x"></button>
        <button class="button y"></button>
        <button class="button z"></button>
    </div>

</body>
</html>
