<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Onboarding</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/start.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="/static/js/sock.js"></script>
</head>
<body>
<div class="field-group">
    <input type="text" name="name" id="name" class="input-field" placeholder="Enter Name"  autocomplete="off">
    <label for="name" class="input-label"> Enter Name</label>
    <div class="color-picker">
    <div class="hue-slider"></div>
</div>
</body>
</html>
