main {
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 100%;
    padding: 50px;
    box-sizing: border-box;
    touch-action: manipulation;
}

.joy-stick-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.joy-stick-container {
    height: 45vh;
    width: 45vh;
    border-radius: 50%;
    border: 20px solid var(--color3);
    background-color: var(--color1);
    position: relative;
}

.joy-stick-thumb {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color2);
    border: 15px solid var(--color3);
}

.joy-stick-wrapper.good div {
    border-color: var(--goood);
}

.joy-stick-wrapper.good .joy-stick-thumb {
    background-color: var(--good);
}

.joy-stick-wrapper.bad div {
    border-color: var(--baad);
}

.joy-stick-wrapper.bad .joy-stick-thumb {
    background-color: var(--bad);
}

.joy-buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100%;
}

.button-container {
    position: relative;
}

.button-container button {
    position: absolute;
    background-color: var(--color2);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid var(--color3);
    border-radius: 50%;
    width: 70px;
    aspect-ratio: 1/1;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-1 {
    top: 90%;
    background-image: url(/static/images/boost.png);
}

#button-2 {
    top: 70%;
    width: 90px;
    background-image: url(/static/images/primary.png);
    background-size: 60%;
    background-position: center;
}

#button-3 {
    top: 50%;
    background-image: url(/static/images/secondary.png);
}


.middle-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mother-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--white); 
    padding: 10px; 
    border-radius: 10px;
}

.score-text {
    font-size: 20px; 
    color: var(--white); 
    margin-top: -5px;
}

.rectangle-container {
    display: flex;
}

.rectangle-button {
    width: 80px; 
    height: 40px; 
    background-color: var(--color2);
    border: 1px solid var(--white); 
    border-radius: 10px;
    margin: 0 15px; 
}

.button-text-1 {
    color: white;
    font-size: 16px; /* Adjust the font size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-text-2{
    color: red;
    font-size: 16px; /* Adjust the font size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.vertical-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 85%;
    width: 100%;
}

.middle-button {
    background-color: var(--color2);
    border: 5px solid var(--color3);
    border-radius: 50%;
    width: 70px;
    height: 70px;
   
}