* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
}

.field-group {
    width: 600px;
    position: relative;
    padding-top: 15px;
}

.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 2em;
    color: #ffffff;
    transition: 0.5s ease;
    /* Adjusted transition */
    text-align: center;
}

.input-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 900;
    color: #999999;
    text-transform: uppercase;
    transition: top 0.3s ease, font-size 0.3s ease;
    /* Added transition */
}

.input-field::placeholder {
    color: transparent;
}

.input-field:focus {
    border-image: linear-gradient(to right, red, blue);
    border-image-slice: 1;
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    background: linear-gradient(to right, red, blue, red, blue);
    background-size: 250% 100%;
    background-position: left;
    color: transparent;
    background-clip: text;
    animation: bgt 3s infinite alternate;
}

@keyframes bgt {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

.hue-slider {
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 0px;
}